/* Setel font-family untuk elemen-elemen yang Anda inginkan */
body,
p,
th,
td,
button {
    font-family: 'Poppins', sans-serif;
}

.swiper-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.swiper-wrapper {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.swiper-slide {
    flex: 0 0 100%;
    box-sizing: border-box;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px; /* Add rounded corners for aesthetics */
}