body {
    background-image: url('/assets/beautiful-golden-field-with-amazing-cloudy.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Tambahkan efek blur ke latar belakang */
body::before {
    content: "";
    background-image: inherit; /* Mengambil gambar latar belakang dari body */
    background-size: inherit;
    background-position: inherit;
    background-repeat: inherit;
    filter: blur(5px); /* Tambahkan blur ke latar belakang */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Menempatkan z-index di belakang konten */
}